<!DOCTYPE html>
<html lang="ar" dir="rtl">

    <%- include("./partials/head.ejs") %>

<style>
.group {
     
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Add some space between elements */
    max-width: 300px; /* Set a maximum width to keep it contained */
}

.group label, .group select {
    width: 100%; /* Make labels and selects take up the full width */
}


  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #1800ed;
    animation: spinner-d3wgkg 1s infinite linear;
  }

  @keyframes spinner-d3wgkg {
    to {
      transform: rotate(1turn);
    }
  }

</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" >
                <%- include("./partials/nav.ejs") %>
            </div>
            <!--------------------END ASIDE  ------------------>
   <!-- Modal -->

                
   <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel"> Update Data</h2>
                <i class="fa-solid fa-xmark close-modal" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <form  id="formModalDataUpdate">

              <div class="spinner mx-auto" id="spinner"></div>
              <div class="modal-body">


                      <label for="ModalUserName">اسم الطالب : </label> 
                      <input type="text" id="ModalUserName" class="modal-input" name="Username" value=""> <br>
                      
                  
                      <label for="ModalUserphone">رقم هاتف الطالب : </label> 
                      <input type="tel" id="ModalUserphone" class="modal-input"name="phone" value=""> <br>
                      
      

                      <label for="ModalParentUserphone">رقم هاتف ولي امر الطالب : </label> 
                      <input type="tel" id="ModalParentUserphone" class="modal-input" name="parentPhone" value=""> <br>
                      
                      <label for="ModalUserAmount">Amount : </label>
                      <input type="tel" id="ModalUserAmount" class="modal-input" name="balance" value=""> <br>
              
                      <label for="amountRemaining">Amount Remaining : </label>
                      <input type="tel" id="amountRemaining" class="modal-input" name="amountRemaining" value=""> <br>

                      <label for="absences">Absences : </label>
                      <input type="number" id="absences" class="modal-input" name="absences" value=""> <br>

                  <label for="GradeLevel">Grade Level:</label>
                    <select name="GradeLevel" id="GradeLevel" class="modal-input Grade w-75" required>
                      <option value="10" >Grade 10</option>
                      <option value="11" >Grade 11</option>
                      <option value="12" >Grade 12</option>
                    </select>

                  <label for="attendingType">Attending Type:</label>
                  <select name="attendingType" id="attendingType" class="modal-input Grade w-75" required>
                    <option value="HomeSchooling" >Home Schooling</option>
                    <option value="Attending" >Attending</option>
                  </select>

                  <label for="bookTaken"> Book Taken </label>
                  <select name="bookTaken" id="bookTaken" class="modal-input Grade w-75" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>

                    <label for="ModalSchoolName">School Name :</label> 
                    <input type="text" id="schoolName" class="modal-input" name="schoolName" value=""> <br>
                    <input type="text" id="StudentID" class="d-none" value="">
                    <!-- <button type="button" class="btn btn-outline-primary" id="transferStudent">نقل الطالب الي</button>

                    <div class="group d-none" id="selectionGroup">
                      
                          <label for="centerName">Center Name</label>
                          <select name="centerName" id="centerNameToUpdate" class="Grade"  >
                              <option value="">Center Name</option>
                              <option value="GTA">GTA</option>
                              <option value="tagmo3">Tagmo3</option>
                          </select>

                          <label for="Grade">Grade</label>
                          <select name="Grade" id="GradeToUpdate" class="Grade" >
                              <option value="">Grade</option>
                          </select>

                          <label for="gradeType">Grade Type</label>
                          <select name="gradeType" id="gradeTypeToUpdate" class="Grade" >
                              <option value="">Grade Type</option>
                          </select>

                          <label for="groupTime">Group Time</label>
                          <select name="groupTime" id="groupTimeToUpdate" class="Grade" >
                              <option value="">Group Time</option>
                          </select>


                    </div> -->

              </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                <button type="submit"  class="btn btn-primary" data-bs-dismiss="modal">Update </button>
            </div>

        </form>
        </div>
    </div>
    </div>


    <div class="modal fade show" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel2"> مسح طالب</h2>
                    <i class="fa-solid fa-xmark close-modal" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <form id="deleteForm"  method="post">
    
                <div class="modal-body">
                  <h2>  هل تريد مسح الطالب نهائياً ؟</h2>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" window.location.herf="/teacher/studentsRequests">Close</button>
                    <button type="submit"  class="btn btn-primary" >Yes </button>
                </div>
            </form>
            </div>
        </div>
        </div>

<!--  END Modal -->
            <div class="col-lg-10 ">
                <main>
                    <div class="row">
                        <div class="col-md-8">
                            <form action="/teacher/studentsRequests" method="get">

                                 <select name="centerName" class="Grade" id="centerName" value="" required>
                                        <option value=""> اختر السنتر </option>
                                        <option value="GTA">GTA</option>
                                        <option value="tagmo3">Tagmo3</option>
                                    </select>
                                    <select name="Grade" id="Grade" class="Grade" value="" required>
                                            <option value=""> اختر الصف </option>
                                     
                                    </select>

                                    <select name="gradeType"  class="Grade"  id="gradeType" value="" required>
                                        <option value=""> Type</option>
                                    </select>


                                    <select name="groupTime" class="Grade" id="groupTime" value="" required>
                                        <option value=""> Group Time </option>
                                    </select>

                                    <select name="attendingType" class="Grade" id="attendingType" value="">
                                        <option value=""> Attending Type </option>
                                        <option value="HomeSchooling">Home Schooling</option>
                                        <option value="Attending">Attending</option>
                                    </select>

                                    <select name="GradeLevel" class="Grade" id="GradeLevel" value="">
                                      <option value=""> Grade Level</option>
                                      <option value="10">Grade 10</option>
                                      <option value="11">Grade 11</option>
                                      <option value="12">Grade 12</option>
                                    </select>

                                  <button class="btn btn-outline-warning me-5 mt-4" >Get Data</button>
                     
                            </form>
                        </div>
        
                 
                    </div>
                    <table id="convetToexcel" style="display: none;">
                        
                    </table>
                    <div class="row">
                        <div class="col-md-12  col-sm-12">
                            <div class="student-table">
                                <form action="/teacher/searchForUser" method="post">

                                    <div class="row" style="margin-bottom: 0 !important;">
                                        <div class="col-md-4">   
                                            <select name="searchBy" id="searchBy"  class="Grade" style="margin-top: -1rem;" >

                                                <option value="Username">الاسم</option>
                                                <option value="Code" selected>كود الطالب </option>
                                                <option value="phone" >رقم الهاتف</option>
                                                <option value="WhatsApp"> whatsapp </option>
                                                <option value="parentPhone"> رقم ولي الامر </option>
                                                
                                            </select>
                                        </div>
                                        <div class="col-md-4"> 
                                            <input type="text" class="mx-auto" name="searchInput" placeholder="بحث..">

                                        </div>
                                        <div class="col-md-4">  
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button  class="primary" ><i class="fa-solid fa-magnifying-glass"></i></button>

                                                </div>
                                                <% if (isSearching) { %>

                                                <div class="col-md-1 d-flex justify-content-center align-items-center ">
                                                    <button><a href="/teacher/studentsRequests"  class="primary" style="margin-bottom: 0; margin-top: 0 !important; cursor: pointer;" ><i class="fa-solid fa-x"></i></a></button>
                                                </div>

                                                <% } %>
                                            </div>
                                          
                                        </div>
                                    </div>
                                
                                   

                               
                              </form>
                                <table id="myTable">
                                    <thead>
                                        <th style="padding: 10px;"># </th>
                                        <th style="padding-left: 20px;">Student Name</th>
                                        <th style="padding-left: 20px;">Code</th>
                                        <th style="padding-left: 20px;"> Created At</th>
                                        <th style="padding-left: 20px;"> Last Update</th>
                                        <th style="padding-left: 20px;"> Amount </th>
                                        <th style="padding-left: 20px;"> Amount Remaining</th>

                                        <th style="padding-left: 20px;"></th>
                                        <th style="padding-left: 20px;"></th>
                                    </thead>

                                    <tbody >
                                     <% if (studentsRequests && studentsRequests.length>0) { %>
                                        <% let counter = 1; %>
                                            <% studentsRequests.forEach(student => { %>
                                           
                                                <tr>
                                                    <td><%= counter %></td>
                                                    <td  style="line-height: 20px;"><span ><i class="fa-solid "></i></span><%= student.Username %></td>
                                                    <td id="code" ><%= student.Code %></td>
                                                    <td id="code" ><%= student.createdAt.toLocaleDateString() %></td>
                                                    <td id="code" ><%= student.updatedAt.toLocaleDateString() %></td>
                                                    <td id="code" ><%= student.balance %></td>
                                                    <td id="code" ><%= student.amountRemaining %></td>
                                           
                                                  

                                                    <td class="enter">
                                                      <button type="button" class="primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="<%= student._id %>" onclick="populateModal('<%= student._id %>')">
                                                      View Data<i class="fa-solid fa-pen-to-square me-3"></i>
                                                      </button>
                                                    </td>
                                                    

                                                     <td class="enter">
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-id="<%= student._id %>" onclick="getIdToDelete('<%= student._id %>')">
                                                            Delete Account<i class="fa-solid fa-trash me-3"></i>
                                                        </button>
                                                        <!-- <button ><a href="/teacher/studentsRequests/delete/<%=student._id  %>" class="btn btn-outline-danger" style="color: rgb(255, 255, 255); border: 2px solid rgb(211, 0, 0); border-radius: 30px; padding: .7rem;" >Delete Account<i class="fa-solid fa-trash me-3" ></i></a> </button>  -->
                                                    </td>
                                                </tr>

                                            <% counter++; %>

                                            <% }) %>
                                   
                                        <% } else { %>
                                            <tr style="text-align: center;">
                                                <td colspan="8">
                                                    <h1>لا يوجد .. يمكنك التأكد من البحث مجددا </h1>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>

                            </div>
                            <div class="pagination justify-content-between">
                                        
                                <div>
                                    <% if (nextPage !== null) { %>
                                        <a href="/teacher/studentsRequests?Grade=<%= Grade %>&page=<%= nextPage %>" > <button class="paginationBtns">Next</button> </a>
                                    <% } %>
                                </div>

                                <div>
                                    <form action="/teacher/converStudentRequestsToExcel" method="post">
                                        <button class="paginationBtns">Convert To Excel</button> 
                                    </form>
                        
                                </div>
                                <div>
                                    <% if (previousPage !== null) { %>
                                        <a href="/teacher/studentsRequests?Grade=<%= Grade %>&page=<%= previousPage %>" >  <button class="paginationBtns"> Previous</button></a>
                                    <% } %>
                                </div>
                            </div>


                        </div>
                    </div>
                </main>
            </div>

            <!-------------------- END OF MAIN --------------------->
         
        </div>
    </div>



    <script src="/assest/bootstrap.bundle.min.js"></script>
    <script src="/assest/bootstrap.min.js"></script>

 <%- include("../partials/group.ejs") %>




<script>
    const spinner = document.getElementById('spinner');
    function populateModal(id){
      console.log(id)
      
      spinner.classList.remove('d-none');
      fetch(`/teacher/studentsRequests/${id}`)
        .then(response => response.json())
        .then(data => {
          console.log(data)
          document.getElementById('ModalUserName').value = data.Username;
          document.getElementById('ModalUserphone').value = data.phone;
          document.getElementById('ModalParentUserphone').value = data.parentPhone;
          document.getElementById('ModalUserAmount').value = data.balance;
          document.getElementById('amountRemaining').value = data.amountRemaining;
          document.getElementById('absences').value = data.absences;
          document.getElementById('GradeLevel').value = data.GradeLevel;
          document.getElementById('attendingType').value = data.attendingType;
          document.getElementById('bookTaken').value = data.bookTaken;
          document.getElementById('schoolName').value = data.schoolName;
          document.getElementById('StudentID').value = data._id;
          spinner.classList.add('d-none');
        })
        .catch(error => {
          console.error('Error fetching student data:', error)
          spinner.classList.add('d-none');
        });
    }



    const formModalDataUpdate = document.getElementById('formModalDataUpdate');
    formModalDataUpdate.addEventListener('submit', (e) => {
      e.preventDefault();
      spinner.classList.remove('d-none');
      const id = document.getElementById('StudentID').value;
      const data = {
        Username: document.getElementById('ModalUserName').value,
        phone: document.getElementById('ModalUserphone').value,
        parentPhone: document.getElementById('ModalParentUserphone').value,
        balance: document.getElementById('ModalUserAmount').value,
        amountRemaining: document.getElementById('amountRemaining').value,
        absences: document.getElementById('absences').value,
        GradeLevel: document.getElementById('GradeLevel').value,
        attendingType: document.getElementById('attendingType').value,
        bookTaken: document.getElementById('bookTaken').value,
        schoolName: document.getElementById('schoolName').value,

      };
      console.log(data)
      fetch(`/teacher/updateUserData/${id}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          location.reload();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });

</script>


<script>
    const deleteForm = document.getElementById('deleteForm');
    function getIdToDelete(id){
        deleteForm.setAttribute('action', `/teacher/studentsRequests/delete/${id}`);
    }

    deleteForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      spinner.classList.remove('d-none');
    const response = await fetch(deleteForm.getAttribute('action'), {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      })
        const data = await response.json();
        console.log(data)

        if (response.ok) {
            location.reload();
        }else{
            console.log('error')
        }

    });


</script>

</body>


</html>